@charset "UTF-8";

// Colors
$black: #000;
$black-2: #2b2b2b;
$white: #fff;
$red: #e4222a;
$gray-light: #d4d2d2;
$gray: #7e7e7e;
$gray-dark: #333333;
$blue: #253652;
$link: #007bff;

// Override bootstrap colors
$primary: $red;